/AndroidManifest.xml
/ic_dashboard_account-web.png
/ic_dashboard_home-web.png
/ic_dashboard_library-web.png
/ic_header_home_account-web.png
/ic_launcher_password-web.png
/ic_launcher_password_2-web.png
/ic_launcher_username-web.png
